<% html_title l(:report_title, {:report => @report}) -%>
<div class="contextual">
<%= link_to_if_admin l(:button_update),
  {:controller => 'sql_reports', :action => 'edit', :id => @report},
  :class => 'icon icon-edit' -%>
<%= link_to_if_admin l(:button_delete),
  {:controller => 'sql_reports', :action => 'destroy', :id => @report},
  :confirm => l(:text_are_you_sure), :method => :post, :class => 'icon icon-del' %>
</div>
<h2><%= l(:report_title, {:report => @report}) %></h2>

<% if @table.blank? %>
  <p id="errorExplanation"><%= @error %></p>
<% else %>
  <table>
  <tr>
  <%- for col in @table.columns -%>
    <th><%= report_header col %></th>
  <%- end -%>
  </tr>
  <% @table.rows do |row| %>
      <tr>
      <% for col in @table.columns %>
          <td><%= report_cell col,row[col] %></td>
      <% end %>
      </tr>
  <% end %>
  </table>
<% end %>
