<% html_title l(:report_title, {:report => @report}) -%>
<div class="contextual">
<%= link_to l(:edit_report), { :controller => 'sql_reports', :action => 'edit',
  :id => @report.id }, :class => 'icon icon-edit' -%>
</div>
<h2><%= l(:report_title, {:report => @report}) %></h2>

<% if @table.blank? %>
  <p id="errorExplanation"><%= @error %></p>
<% else %>
  <table>
  <tr>
  <%- for col in @table.columns -%>
    <th><%= report_header col %></th>
  <%- end -%>
  </tr>
  <% @table.rows do |row| %>
      <tr>
      <% for col in @table.columns %>
          <td><%= report_cell col,row[col] %></td>
      <% end %>
      </tr>
  <% end %>
  </table>
<% end %>
